body {
  margin: 0px;
  padding: 0px;
}

.logo {
  height: 25px;
}

.topnav {
  overflow: hidden;
  background-color: #b7f3ed;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  color: black;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #fbffff;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #fbffff;
  color: white;
}
